body{
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif; 
}
.nav-btn{
  border: 1px solid #505cfd;
  padding: 10px 55px; 
  border-radius: 30px;
  background: #fefdfc;
  font-family: poppins;
    font-size: 14px;
    font-weight: 600;
    color:#343434;

}
.navbar{
  ul{
    li{
      padding-right: 35px;
      a{
        font-family: poppins;
        font-size: 14px;
        font-weight: 600;
        color:#343434;
       }
    }
  }
  
#home{
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
    .slider-icon{
        i{
            padding: 30px;
            font-size: 50px;
        }
    }
}